*,
::after,
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: none;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;

    scrollbar-color: transparent !important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #f7971e;
    text-shadow: 0 0 0.1rem black;
    font-weight: 600;
    letter-spacing: 0.5rem;
    text-align: center;
}

/*Navbar*/
.search-style {
    color: #ffd200 !important;
    text-shadow: 0 0 0.1 #ffd200 !important;
    outline: none !important;
    border: 1px solid #fff !important;
}

.search-style::placeholder {
    color: #fff !important;
    text-shadow: 0 0 0.1 #ffd200 !important;
}
.search-style:hover {
    color: #ffd200 !important;
    text-shadow: 0 0 0.1 #ffd200 !important;
    outline: 1px double #ffd200 !important;
    border: 1px double #ffd200 !important;
}
.search-style:focus {
    color: #ffd200 !important;
    text-shadow: 0 0 0.1 #ffd200 !important;
    outline: 1px double #ffd200 !important;
    border: 1px double #ffd200 !important;
}

.nav-Link {
    color: #fff !important;
    font-weight: 700 !important;
    letter-spacing: 0.2rem !important;
    text-decoration: none !important;
    outline: none !important;
}

.nav-Link:link {
    color: #ffd200 !important;
}

.nav-Link:hover {
    color: #ffd200 !important;
}
.nav-Link::selection {
    background: #ffd200 !important;
    color: #333 !important;
}

.navbar .nav-Link.active {
    color: #ffd200 !important;
}

.ckeckout-link {
    display: flex !important;
    flex-direction: row !important;
    gap: 0.1rem !important;
}

.total-products-style {
    color: #f7971e !important;
    text-shadow: 0 0 0.5rem #ffd200 !important;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
}

/*home*/

/*Product*/
.card-product {
    width: 21rem;
}

.infor-card-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}

.title-card-product {
    text-overflow: ellipsis;
    text-indent: 3em each-line;
    margin-bottom: 2rem;
}
.main-card-product {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.card-rating-product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.1rem;
}

.price-card-product {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.9rem;
}

.price-card-product-promotion {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 0.9rem;
    color: #fff;
    background: green;
    padding: 0.1rem 0.5rem;
    border-radius: 16px;
}

.footer-card-product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-card-product {
    width: 17rem;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.btn-card-product:focus {
    outline: #333;
    box-shadow: 0 0 0.2rem #000000;
}
.btn-card-product:hover {
    outline: #333;
    box-shadow: 0 0 0.2rem #000000;
    background: #f7971e;
}

/*checkout*/
/*checkoutproduct*/
/*subtotal*/
/*login & register*/
.style-link {
    text-align: left;
}
.link {
    color: #ffd200;
    text-decoration: none;
}
.link:hover {
    color: #f7971e;
    text-decoration: none;
}

.style-error {
    color: red;
    text-decoration: none;
}

.style-load {
    color: rgb(27, 184, 27);
    text-decoration: none;
}

.form-recovery-password {
    z-index: 100;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
}

/*breakpoints*/
@media only screen and (max-width: 2560px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1230px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 430px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
    .style-link {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 320px) {
    .card-product {
        width: 20rem !important;
    }

    .style-link {
        font-size: 0.7rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-left: 2rem;
    }
}
